/ {
	aliases {
		led0 = &user_led_0;
		led1 = &user_led_1;
	};

	leds {
		compatible = "gpio-leds";
		user_led_0: led_0 {
			gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
			label = "Thread A LED";
		};
		user_led_1: led_1 {
			gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
			label = "Thread B LED";
		};
	};
};